<h1>Who doesn't love FOOD!?</h1>

<p> <%= link_to "Welcome!", say_welcome_path %> Not only do I live in a magic tavern, but I'm also the local food critic. My latest obsession includes tin cans and cilantro stems.</p>
