<h1>Welcome to my page!</h1>

<p>my name is goatie, i'm a magic goat that lives in a tavern and i am quite a <%= link_to "foodie", say_foodie_path %> </p>

<div class="container">
<div class="row">
  <figure class="col-md-12">
  <img src="https://images.unsplash.com/photo-1427279721541-17576b2b2483?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=2d18d641df6b88be1c6ebe9127c40c2e" alt="goat">
  </figure>
</div>
</div>

<p>the current time is <%= @time.stamp("may 12, 2016 - 12:00:00pm") %> </p>


